<div id="homePosts">
    <hr/>
    <h4>Latest Updates</h4>
    <div class="spacer"></div>
    {% for post in site.posts limit:4 %}
      {% include postCard.html post=post %}
      <div class="spacer"></div>      
    {% endfor %}
</div>

<style lang="scss" scoped>{% capture to_scss %}@import 'vars';

#homePosts{
  @extend .inner;
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 0;
  @include mq(smd) {padding: 12px 32px}

  hr{
    @extend .hr;
    border-bottom: 1px solid $white;
  }

  h4{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    padding-bottom: 40px;
    letter-spacing: 1px;
  } 

  .spacer{
    clear: both;
    
    &:nth-child(4n+5){
      display: none;
    }
  }
}

{% endcapture %}{{ to_scss | scssify }}</style>