<div id="intro">
  <h3>Is your organization worried about securing your communications and data?</h3>
  <h3>Have you recently been hacked?</h3>
  <h3>Are you a digital security expert working with nonprofits and activists?</h3>
  <hr/>
  <p>The Digital Security Exchange connects U.S. civil society organizations to digital security experts who help them stay safe from digital attack, helping them stay focused on protecting our communities, environment, and world.</p>
  <p>You can get started with the Exchange in two ways:</p>
  <div id="getStartedCards">
    {% for data in site.getStartedCardData %}
      {% include getStartedCard.html data=data %}
    {% endfor %}
  </div>
</div>

<style lang="scss" scoped>{% capture to_scss %}@import 'vars';

#intro{
  padding-top: 144px;
  padding-bottom: 64px;
  position: relative;
  top: -48px;
  background: $royal;
  color: $white;
  padding-left: 16px;
  padding-right: 16px;

  h3{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    padding: 12px 0;
    @include mq(smd) { font-size: 24px; }

  }

  hr{
    @extend .hr;
    width: 200px;
    border-bottom-color: $cyan;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  p{
    font-size: 22px;
    text-align: center;
    padding: 12px 0 24px;
    max-width: 768px;
    margin: 0 auto;
    line-height: 150%;
    @include mq(smd) { font-size: 18px; padding: 12px 12px 24px; }

  }

  #getStartedCards{
    overflow: hidden;
    text-align: center;
  }
}

{% endcapture %}{{ to_scss | scssify }}</style>