<div id="intro">
  <h3>Think you may have been hacked or doxxed?</h3>
  <h3>Worried about securing your communications and data?</h3>
  <h3>Looking for more secure collaboration tools?</h3>
  <h3>Need help with data threat modeling?</h3> 
  <hr/>
  <p>DSX connects you with digital security experts who can help you stay safe from digital attack. That way, you can stay focused on what we need most—protecting our communities, environment, and world.</p>
  <p>You can get started with DSX in two ways:</p>
  <div id="getStartedCards">
    {% for data in site.getStartedCardData %}
      {% include getStartedCard.html data=data %}
    {% endfor %}
  </div>
</div>

<style lang="scss" scoped>{% capture to_scss %}@import 'vars';

#intro{
  padding-top: 104px;
  padding-bottom: 48px;
  position: relative;
  top: -48px;
  background: $royal;
  color: $white;

  h3{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    padding: 12px 0;
  }

  hr{
    @extend .hr;
    width: 200px;
    border-bottom-color: $cyan;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  p{
    font-size: 22px;
    text-align: center;
    padding: 12px 0 24px;
    max-width: 768px;
    margin: 0 auto;
    font-size: 18px;
  }

  #getStartedCards{
    overflow: hidden;
    text-align: center;
  }
}

{% endcapture %}{{ to_scss | scssify }}</style>