<div id="signup">
  <label>Sign up for updates</label>
  <input type="email" placeholder="Email address"/>
  <button>Sign Up</button>
</div>

<style lang="scss" scoped>{% capture to_scss %} @import 'vars';

#signup{
  float: right;
  padding-left: 40px;
  margin-top: -9px;
  @include mq(sm) { float: none; padding-left: 0; }
  @include mq(md) { padding-top: 24px; padding-bottom: 24px; }

  label{
    padding-right: 8px;
    @include mq(sm) { display: block; font-weight: bold; font-size: 16px; color: $royal; padding-bottom: 8px;}
  }

  input[type=email]{
    @extend .textInput;
    width: 250px;
    margin-right: 4px;
    padding: 9px 6px;
    font-size: 14px;
  }

  button{
    @extend .button;
    font-size: 16px;
    padding: 9px 32px;
  }
}




{% endcapture %}{{ to_scss | scssify }}</style>