<div id="subscribe">
  <div class="inner">
    <hr/>
    <div class="left">
      <h3>Get the latest from<br/> Digital Security Exchange</h3>
      <p>Sign up for email updates and we’ll keep you posted on our progress through periodic updates on our work</p>
    </div>
    <!-- <div class="right">
      <input type="email" placeholder="Email address"/>
      <button>Sign Up</button>
    </div> -->
    <div class="right" id="mc_embed_signup">
      <form action="https://digitalsecurityexchange.us15.list-manage.com/subscribe/post?u=5b839c64bb5e0beefde87a0ce&amp;id=6a74dbee5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
        <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5b839c64bb5e0beefde87a0ce_6a74dbee5c" tabindex="-1" value=""></div>
      </form>
    </div>
  </div>
</div>

<style lang="scss" scoped>{% capture to_scss %} @import 'vars';

#subscribe{
  position: relative;
  z-index: 5;
  overflow: hidden;
  background: white;
  padding: 36px;

  .inner{
    @extend .inner;
    padding-left: 7% !important;
    padding-right: 7% !important;
    @include mq(md) { padding: 0px !important; }

    hr{
      @extend .hr;
    }

    .left{
      float: left;
      width: 50%;
      @include mq(sm) { float: none; width: 100%; }


      h3{
        font-size: 28px;
        color: $royal;
        font-weight: bold;
        padding-bottom: 24px;
        line-height: 120%;
      }

      p{
        font-size: 18px;
        line-height: 150%;
      }
    }

    .right{
      float: right;
      width: calc(50% - 40px);
      padding-left: 40px;
      text-align: right;
      padding-top: 24px;
      @include mq(sm) { float: none; width: 100%; padding-left: 0; }

      input[type=email]{
        @extend .textInput;
        width: 300px;
        font-size: 20px;
        margin-bottom: 4px;
        @include mq(sm) { display: inline-block; width: 220px; float: left; }
        @include mq(md) { width: 200px; display: inline-block; }

      }

      .button{
       @extend .button;
       padding: 12px 32px;
       margin-left: 8px;
       @include mq(sm) { display: inline-block; padding: 10px 20px; width: 100px; box-sizing: border-box; float: left; }
       @include mq(md) { display: inline-block; padding: 10px 20px; width: 94px; box-sizing: border-box; }
       &:hover{
        //padding: 12px 40px;
       }
      }
    }
  }
}

{% endcapture %}{{ to_scss | scssify }}</style>