<svg width="70px" height="70px" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.483355978">
        <g id="Home,-Round-Two" transform="translate(-727.000000, -3627.000000)" fill="#00C1E0">
            <g id="Group-2-Copy-3" transform="translate(727.000000, 3627.000000)">
                <circle id="Oval-4-Copy" cx="35" cy="35" r="35"></circle>
            </g>
        </g>
    </g>
</svg>
